body {
  background-color: rgba(245, 245, 220, 0.377);
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 10px;
}

section {
  text-align: -webkit-center;
  padding: 10px;
}

table {
  box-shadow: 0 0 4px 1px #e3e3e3;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.table-heading {
  text-align: -webkit-center;
}

td {
  font-size: larger;
  padding: 5px;
}

main {
  text-align: -webkit-center;
}

#map {
  align-items: center;
  max-width: 700px;
  min-height: 300px;
  box-shadow: 0 0 4px 2px #e3e3e3;
  margin-top: 20px;
}
